@use "sass:meta";
@use "../mixins/mixins-master";

html {
	@include mixins-master.font-size(1);
}
button,
input,
select,
textarea {
}

@include meta.load-css("headings");
@include meta.load-css("copy");