@use "../mixins/variables";

/**
 * Product badges styles
 */
.products {
	.woocommerce-loop-product__link {
		position: relative;
		display: block;
	}
}

.onsale {
	display: inline-block;
	font-size: variables.$wc-badges-fz;
	line-height: variables.$wc-badges-lh;
	color: variables.$wc-badges-color;
	background-color: variables.$wc-badge-sale-bg;
	padding: 2px 5px;
	border-radius: 0;
	
	// loop products badge style
	.products &{
			position: absolute;
			top: 0;
			left: 0;
	}
	
	// single product badge style
	.single-product .summary & {
		margin-bottom: 8px;
	}
}