@use "../mixins/variables";

/**
 *  Checkbox
 */
label.checkbox,
label.inline {
	position: relative;
	&.woocommerce-form__label {
		padding-left: 30px;
	}
	input[type="checkbox"] {
		display: none;
	}
	input[type="checkbox"] + span::before {
		content: '';
		display: inline-block;
		width: variables.$wc-checkbox-width;
		height: variables.$wc-checkbox-height;
		background: transparent;
		border: 1px solid variables.$wc-border-color;
		border-radius: variables.$wc-checkbox-br;
		position: absolute;
		top: 0;
		left: 0;
	}
	input[type="checkbox"] + span::after {
		content: variables.$wc-checkbox-active-icon;
		opacity: 0;
		font-size: variables.$wc-checkbox-active-icon-fz;
		position: absolute;
		top: 4px;
		left: 4px;
		@extend %icon-font-default;
	}
	input[type="checkbox"]:checked + span::after {
		opacity: 1;
	}
}
