@use "../mixins/mixins";
@use "../mixins/variables";
/**
 * Messages
 */
.woocommerce-message,
.woocommerce-info,
.woocommerce-error{
	position: relative;
	list-style: none;
	margin: 0 0 50px 0;
	border: 1px solid variables.$wc-border-color;
	border-radius: variables.$wc-border-radius;
	width: 100%;
	padding: 20px 30px 20px 90px;
	overflow: hidden;
	
	@media (max-width: 767px) {
		margin-bottom: 20px;
	}
	
	&:before{
		position: absolute;
		left: -1px;
		top: -1px;
		bottom: -1px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 20px;
		width: 72px;
		height: calc(100% + 2px);
		line-height: 1;
		margin: 0 20px 0 0;
		text-align: center;
		border-top-left-radius: variables.$wc-border-radius;
		border-bottom-left-radius: variables.$wc-border-radius;
		@extend %icon-font-default !optional;
	}
	
	> *{
		display: inline-block;
		vertical-align: middle;
	}
	
	.button{
		float: right;
		
		&.wc-forward{
			margin-left: 20px;
		}
	}
	
}

.woocommerce-message{
	&:before{
		content: variables.$wc-messages-icon-default;
		color: variables.$wc-messages-icon-default-color;
		background-color: variables.$wc-messages-icon-default-bg;
	}
}

.woocommerce-error{
	&:before{
		content: variables.$wc-messages-icon-error;
		color: variables.$wc-messages-icon-error-color;
		background-color: variables.$wc-messages-icon-error-bg;
	}
}

.woocommerce-info{
	&:before{
		content: variables.$wc-messages-icon-info;
		color: variables.$wc-messages-icon-info-color;
		background-color: variables.$wc-messages-icon-info-bg;
	}
}