@use "../mixins/variables";

/**
 * Product meta
 */
.product_meta {
	font-size: variables.$wc-product-meta-fz;
	margin: 30px 0 10px 0;

	> span {
		display: block;

		+ span {
			margin-top: 5px;
		}
	}
}