@use "../mixins/mixins";
@use "../mixins/variables";

/**
 * WooCommerce pagination
 */
.woocommerce-pagination {
	margin: 0 0 35px;
	list-style: none;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	
	
	> span,
	> a{
		// Pagination Number
		
		& + * {
			margin-left: variables.$wc-pagination-number-offset;
		}
	}
	
	a.page-numbers,
	span.page-numbers {
		display: inline-block;
		font-size: variables.$wc-pagination-number-fz;
		line-height: variables.$wc-pagination-number-lh;
		padding: variables.$wc-pagination-number-inset;
		text-align: variables.$wc-pagination-number-ta;
		&:not(.prev):not(.next){
			height: variables.$wc-pagination-number-height;
			width: variables.$wc-pagination-number-width;
			border-radius: variables.$wc-pagination-number-border-radius;
			border: variables.$wc-pagination-number-border;
			
			&:hover,
			&.current {
				background-color: variables.$wc-border-color;
			}
		}
		
		&.next {
			margin-left: variables.$wc-pagination-text-offset;
		}
		
		&.prev {
			margin-right: variables.$wc-pagination-text-offset;
		}
		
		&:hover {
			outline: none;
		}
		
		// Pagination icon
		.nav-icon {
			font-size: variables.$wc-pagination-icon-fz;
			
			&::before {
				@extend %icon-font-default !optional;
			}
			
			&.icon-next{
				margin-left: 4px;
				&::before {
					content: variables.$wc-pagination-icon-next;
				}
			}
			
			&.icon-prev{
				margin-right: 4px;
				&::before {
					content: variables.$wc-pagination-icon-prev;
				}
			}
			
		}
	}
}

// list pagination style
.woocommerce-pagination {
	margin: 0 0 35px;
	
	ul.page-numbers {
		list-style: none;
		margin: 0;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		
		li {
			// Pagination Number
			.page-numbers {
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: variables.$wc-pagination-number-fz;
				line-height: variables.$wc-pagination-number-lh;
				padding: variables.$wc-pagination-number-inset;
				text-align: variables.$wc-pagination-number-ta;
				&:not(.prev,.next){
					height: variables.$wc-pagination-number-height;
					width: variables.$wc-pagination-number-width;
					border-radius: variables.$wc-pagination-number-border-radius;
					border: variables.$wc-pagination-number-border;
					
					&:hover,
					&.current {
						background-color: variables.$wc-border-color;
					}
				}
				
				&.next {
					margin-left: variables.$wc-pagination-text-offset;
				}
				
				&.prev {
					margin-right: variables.$wc-pagination-text-offset;
				}
				
				&:hover {
					outline: none;
				}
				
				// Pagination icon
				.nav-icon {
					font-size: variables.$wc-pagination-icon-fz;
					
					&::before {
						@extend %icon-font-default !optional;
					}
					
					&.icon-next::before {
						content: variables.$wc-pagination-icon-next;
					}
					
					&.icon-prev::before {
						content: variables.$wc-pagination-icon-prev;
					}
				}
			}
			
			& + li {
				margin-left: variables.$wc-pagination-number-offset;
			}
		}
	}
}