@use "../mixins/variables";

/**
 * Prices
 */

// Grid product
.price {
	font-size: variables.$wc-grid-price-fz;
	line-height: variables.$wc-grid-price-lh;
	margin: variables.$wc-grid-price-offset;
	display: block;
	
	ins, del {
		line-height: 1;
	}

	ins {
		font-style: normal;
		border: none;
		margin-right: 5px;
		@if (variables.$wc-grid-ins-price-fz != variables.$wc-grid-price-fz) {
			font-size: variables.$wc-grid-ins-price-fz;
		}
	}

	del {
		color: variables.$wc-sale-price-color;
		@if (variables.$wc-grid-del-price-fz != variables.$wc-grid-price-fz) {
			font-size: variables.$wc-grid-del-price-fz;
		}
	}

}

// List product
.product-list .price {
	margin: variables.$wc-list-price-offset;
	@if (variables.$wc-list-price-fz != variables.$wc-grid-price-fz) {
		font-size: variables.$wc-list-price-fz;
		line-height: variables.$wc-list-price-lh;

		@if (variables.$wc-list-price-fz != variables.$wc-list-ins-price-fz) {
			ins {
				font-size: variables.$wc-list-ins-price-fz;
			}
		}

		@if (variables.$wc-list-price-fz != variables.$wc-list-del-price-fz) {
			del {
				font-size: variables.$wc-list-del-price-fz;
			}
		}
	}
}

// Single product
.single-product .summary .price {
	margin: variables.$wc-single-price-offset;
	@if (variables.$wc-single-price-fz != variables.$wc-grid-price-fz) {
		font-size: variables.$wc-single-price-fz;
		line-height: variables.$wc-single-price-lh;

		@if (variables.$wc-single-price-fz != variables.$wc-single-ins-price-fz) {
			ins {
				font-size: variables.$wc-single-ins-price-fz;
			}
		}

		@if (variables.$wc-single-price-fz != variables.$wc-single-del-price-fz) {
			del {
				font-size: variables.$wc-single-del-price-fz;
			}
		}
	}
}

