@use "../mixins/variables";

/**
 * Rating
 */
.star-rating {
	width: variables.$wc-rating-width;
	height: variables.$wc-rating-height;
	font-size: variables.$wc-rating-fz;
	color: variables.$wc-rating-rated-color;
	margin:  10px 0;
	position: relative;
	display: block;
	overflow: hidden;

	&::before {
		content: variables.$wc-rating-icon + variables.$wc-rating-icon + variables.$wc-rating-icon + variables.$wc-rating-icon + variables.$wc-rating-icon;
		letter-spacing: variables.$wc-rating-ls;
		color: variables.$wc-rating-color;
		float: left;
		top: 0;
		left: 0;
		position: absolute;
		@extend %icon-font-default;
	}

	span {
		padding-top: 1.5em;
		overflow: hidden;
		float: left;
		top: 0;
		left: 0;
		position: absolute;

		&::before {
			letter-spacing: variables.$wc-rating-ls;
			content: variables.$wc-rating-icon + variables.$wc-rating-icon + variables.$wc-rating-icon + variables.$wc-rating-icon + variables.$wc-rating-icon;
			top: 0;
			position: absolute;
			left: 0;
			@extend %icon-font-default;
		}
	}

	// Single product rating
	.single-product .summary & {
		display: inline-block;
		margin: 0;
	}
}

// Single Product Reviews rating
.stars {
	display: inline-block;
	width: calc(#{variables.$wc-rating-width} + 1em);
	height: variables.$wc-rating-height;
	font-size: variables.$wc-rating-fz;
	overflow: hidden;
	margin-bottom: 0;
	padding-left: 15px;

	span {
		line-height: 2;
	}

	a {
		position: relative;
		height: 1em;
		width: 1em;
		text-indent: -999em;
		display: inline-block;
		text-decoration: none;
		color: variables.$wc-rating-color;

		&:hover,
		&.active {
			color: variables.$wc-rating-rated-color;
		}
		
		& + a {
			margin-left: 3px;
			.comment-form-rating & {
				margin: 0;
			}
		}

		&::before {
			letter-spacing: variables.$wc-rating-ls;
			content: variables.$wc-rating-icon + variables.$wc-rating-icon + variables.$wc-rating-icon + variables.$wc-rating-icon + variables.$wc-rating-icon;
			top: 0;
			position: absolute;
			left: 0;
			@extend %icon-font-default;
			display: block;
			width: 1em;
			height: 1em;
			line-height: 1;
			text-indent: 0;
		}
	}
	
	&:hover{
		a{
			color: variables.$wc-rating-rated-color;
			
			&:hover ~ a {
				color: variables.$wc-rating-color;
			}
		}
	}
	
	&.selected{
		a{
			&:not(.active) {
				color: variables.$wc-rating-rated-color;
			}
			
			&.active ~ a {
				color: variables.$wc-rating-color;
			}
		}
	}
}

.single-product{
	.woocommerce-product-rating{
		margin-bottom: 20px;
	}
}

.woocommerce-review-link{
	margin-left: 15px;
}