@use "../mixins/variables";

/**
 * Select
 */
select {
	font-size: variables.$wc-select-fz;
	line-height: variables.$wc-select-lh;
	padding: variables.$wc-select-inset;
	border-radius: variables.$wc-select-border-radius;
	border: variables.$wc-select-border;
	&:focus {
		box-shadow: none;
	}
}


