@use "../mixins/variables";

/**
 * Tables
 */
.woocommerce table {
	border-radius: variables.$wc-table-border;

		th, td {
			font-size: variables.$wc-table-fz;
			line-height: variables.$wc-table-lh;
			padding: variables.$wc-table-inset;

			p {
				margin-bottom: 0;
			}
		}

	//  thead style
	@if (variables.$wc-table-fz != variables.$wc-thead-table-fz) or (variables.$wc-table-lh != variables.$wc-thead-table-lh) {
		thead {
			tr th {
				font-size: variables.$wc-thead-table-fz;
				line-height: variables.$wc-thead-table-lh;
			}
		}
	}

	// inner border
	@if (variables.$wc-table-with-inner-border) {
		tr {
			border-bottom: 1px solid variables.$wc-table-border-color;

			&:last-child {
				border-bottom: none;
			}
		}

		tr td {
			border-left: 1px solid variables.$wc-table-border-color;

			&:first-child {
				border-left: none;
			}
		}
	}

	// inner bottom border
	@if (variables.$wc-table-with-inner-bottom-border) {
		tr, thead {
			border-bottom: 1px solid variables.$wc-table-border-color;

			&:last-child {
				border-bottom: none;
			}
		}
	}

	// inner thead border
	@if (variables.$wc-table-with-inner-thead-border) {
		thead {
			border-bottom: 1px solid variables.$wc-table-border-color;;
		}
		tr th {
			border-left: 1px solid variables.$wc-table-border-color;

			&:first-child {
				border-left: none;
			}
		}
	}

	// outer border
	@if (variables.$wc-table-with-outer-border) {
		border: 1px solid variables.$wc-table-border-color;
	}

}