@use "../mixins/variables";

/**
 * Titles
 */

// Main(grid) product
.woocommerce-loop-product__title {
	font-size: variables.$wc-product-title-default-fz;
	line-height: variables.$wc-product-title-default-lh;
	text-align: variables.$wc-product-title-default-ta;
	margin: variables.$wc-product-title-default-offset;
	text-transform: variables.$wc-product-title-default-tt;
}

// Single product
.single-product .product_title {
	font-size: variables.$wc-single-product-title-fz;
	line-height: variables.$wc-single-product-title-lh;
	text-align: variables.$wc-single-product-title-ta;
	margin: variables.$wc-single-product-title-offset;
	text-transform: variables.$wc-single-product-title-tt;
}

.product-list .woocommerce-loop-product__title {
	font-size: variables.$wc-product-list-title-fz;
	line-height: variables.$wc-product-list-title-lh;
	text-align: variables.$wc-product-list-title-ta;
	margin: variables.$wc-product-list-title-offset;
	text-transform: variables.$wc-product-list-title-tt;
}

// Single product tabs
.panel h2 {
	font-size: variables.$wc-single-tabs-title-fz;
	line-height: variables.$wc-single-tabs-title-lh;
	text-align: variables.$wc-single-tabs-title-ta;
	margin: variables.$wc-single-tabs-title-offset;
	text-transform: variables.$wc-single-tabs-title-tt;
}

// Single product raleted & upsels
.related > h2,
.upsells > h2 {
	font-size: variables.$wc-single-related-title-fz;
	line-height: variables.$wc-single-related-title-lh;
	text-align: variables.$wc-single-related-title-ta;
	margin: variables.$wc-single-related-title-offset;
	text-transform: variables.$wc-single-related-title-tt;
}

/*     Shopping cart title       */
.woocommerce-cart .entry-header > .entry-title {
	font-size: variables.$wc-shopping-cart-title-fz;
	line-height: variables.$wc-shopping-cart-title-lh;
	text-align: variables.$wc-shopping-cart-title-ta;
	margin: variables.$wc-shopping-cart-title-offset;
	text-transform: variables.$wc-shopping-cart-title-tt;
}

// Checkout cart
.woocommerce-checkout .entry-header > .entry-title {
	font-size: variables.$wc-checkout-cart-title-fz;
	line-height: variables.$wc-checkout-cart-title-lh;
	text-align: variables.$wc-checkout-cart-title-ta;
	margin: variables.$wc-checkout-cart-title-offset;
	text-transform: variables.$wc-checkout-cart-title-tt;
}
// My account
.woocommerce-account .entry-header > .entry-title {
	font-size: variables.$wc-my-account-title-fz;
	line-height: variables.$wc-my-account-title-lh;
	text-align: variables.$wc-my-account-title-ta;
	margin: 0 0 30px;
	text-transform: variables.$wc-my-account-title-tt;
}
