@use "sass:meta";
@use "sass:math";
@use "../grid/breakpoints";
@use "../mixins/mixins-master";
@use "../variables-site/colors";

img {
	height: auto;
	/* Make sure images are scaled correctly. */
	max-width: 100%;
	/* Adhere to container width. */
}

blockquote,
q {
	quotes: none;
	&:before,
	&:after {
		content: '';
	}
}

blockquote {
	position: relative;
	margin: 35px 0;
	padding: 0 0 0 60px;
	@include mixins-master.font-size(math.div(18, 16));
	font-weight: 400;
	line-height: 1.45;
	font-style: italic;
	@include breakpoints.media-breakpoint-up(sm) {
		@include mixins-master.font-size(math.div(22, 16));
	}
	@include breakpoints.media-breakpoint-up(md) {
		@include mixins-master.font-size(math.div(28, 16));
	}
	p {
		margin: 0;
		&+p {
			margin-top: 1em;
		}
	}
	cite {
		display: block;
		margin-top: 5px;
		font-style: normal;
		&:before {
			content: "- ";
		}
	}
	&:before {
		content: "\f10d";
		@include mixins-master.font-awesome-icon;
		position: absolute;
		font-size: 30px;
		top: 0;
		left: 10px;
	}
}

hr {
	background-color: colors.$color__background-hr;
	border: 0;
	height: 1px;
	margin: 1.5em 0;
}

.edit-link {
	display: inline-block;
	margin-top: 15px;
}

/*--------------------------------------------------------------
## Lists
--------------------------------------------------------------*/

@include meta.load-css("lists");
/*--------------------------------------------------------------
## ToTop
--------------------------------------------------------------*/

@include meta.load-css("totop-button");
/*--------------------------------------------------------------
## Page preloader
--------------------------------------------------------------*/

@include meta.load-css("page-preloader");