@use "../grid/breakpoints";
@use "../mixins/mixins-master";

#toTop {
	overflow: hidden;
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 15px;
	right: -999em;
	z-index: 999;
	transition: color 0.3s, background-color 0.3s;
	&:before{
		content: "\f106";
		@include mixins-master.font-awesome-icon;
		width: 100%;
		font-size: 25px;
	}
	&:focus {
		outline: none;
	}
	@include breakpoints.media-breakpoint-up(sm) {
		right: 20px;
	}
}