@use "../variables-site/structure";

// Single side border-radius

@mixin border-radius($radius: structure.$border__radius) {
	@if structure.$enable-rounded {
		border-radius: $radius;
	}
}

@mixin border-top-radius($radius) {
	@if structure.$enable-rounded {
		border-top-left-radius: $radius;
		border-top-right-radius: $radius;
	}
}

@mixin border-right-radius($radius) {
	@if structure.$enable-rounded {
		border-top-right-radius: $radius;
		border-bottom-right-radius: $radius;
	}
}

@mixin border-bottom-radius($radius) {
	@if structure.$enable-rounded {
		border-bottom-right-radius: $radius;
		border-bottom-left-radius: $radius;
	}
}

@mixin border-left-radius($radius) {
	@if structure.$enable-rounded {
		border-top-left-radius: $radius;
		border-bottom-left-radius: $radius;
	}
}