@use "sass:meta";
@use "sass:math";
@use "../grid/breakpoints";
@use "../mixins/mixins-master";

.site {
	@include mixins-master.hyphens(auto);
	overflow: hidden;
	&-logo {
		margin: 0;
		@include mixins-master.font-size(math.div(32, 16));
		line-height: 1.2;
		text-transform: lowercase;
		font-weight: 700;
	}
	&-header.container,
	&-breadcrumbs.container,
	&-content.container,
	&-footer.container {
		padding-left: 0;
		padding-right: 0;
	}
	&-breadcrumbs {
		margin-top: 20px;
	}
	&-content {
		body:not(.page-template-fullwidth-content) & {
			margin-top: 30px;
			margin-bottom: 30px;
		}
	}
	&-main {
		>*:last-child {
			margin-bottom: 0;
		}
	}
}

#secondary {
	@include breakpoints.media-breakpoint-down(sm) {
		margin-top: 40px;
	}
}

.space-between-content {
	@include mixins-master.space-between-content;
}

/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/

@include meta.load-css("primary/header");

/*--------------------------------------------------------------
## Top panel
--------------------------------------------------------------*/

@include meta.load-css("primary/top-panel");

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/

@include meta.load-css("primary/footer");

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/

@include meta.load-css("primary/posts-and-pages");

/*--------------------------------------------------------------
## Post Formats
--------------------------------------------------------------*/

@include meta.load-css("primary/post-formats");

/*--------------------------------------------------------------
## Single post
--------------------------------------------------------------*/

@include meta.load-css("primary/single-post");

/*--------------------------------------------------------------
## Sticky 
--------------------------------------------------------------*/

@include meta.load-css("primary/sticky");