@use "../mixins/mixins-master";

.alignleft {
	float: left;
	margin-right: 30px;
	margin-bottom: 15px;
}

.alignright {
	float: right;
	margin-left: 30px;
	margin-bottom: 15px;
}

.aligncenter {
	clear: both;
	@include mixins-master.center-block;
	margin-bottom: 15px;
}
