@use "../mixins/mixins-master";
@use "../variables-site/colors";

.post-author {
	&-bio {
		display: flex;
		align-items: center;
		margin: 40px 0;
		padding-bottom: 40px;
		// Use gap for modern flex layout (pass $use-gap: true)
		@include mixins-master.grid-indent(12px, 'padding', '> *', true);
		border-bottom: 1px solid colors.$color__background-hr;
	}
	&__avatar {
		.avatar {
			border-radius: 50%;
		}
	}
	&__content {
		margin-bottom: 10px;
	}
	&__title {
		margin: 0;
		text-transform: uppercase;
	}
}