@use "../mixins/variables";

/**
 * Single product reviews
 */
ol.commentlist {
	list-style: none;
	margin: 0;

	img {
		float: left;
		margin: 0 15px 5px 0;
	}

	li {

		.star-rating {
			margin-bottom: 12px;
		}

		.meta {
			margin-bottom: 0;
			font-size: variables.$wc-reviews-meta-fz;
			line-height: variables.$wc-reviews-meta-lh;
		}

		& + li {
			margin-top: 50px;
		}
	}
}

.comment-respond{
	.comment-reply-title{
		display: block;
	}
}

/*     single product comment form       */
.comment-form {
	.comment-form-rating {
		margin-bottom: 18px;

		label {
			display: inline-block;
		}
	}

	label {
		display: block;
		font-size: variables.$wc-label-fz;
		line-height: variables.$wc-label-lh;
		margin: variables.$wc-label-offset;
	}
}