@use "../mixins/variables";

/**
 * Product main styles
 */
.products{

	a:focus{
		outline: none;
	}

	.product{
		margin: variables.$wc-product-offset;
		
		.product-content{
			padding: variables.$wc-product-inset;
			border: variables.$wc-product-border;
			border-radius: variables.$wc-product-border-radius;
		}
	}
}