@use "../mixins/variables";

/**
 * Category main styles
 */
.products{
	.product-category{
		margin: variables.$wc-category-offset;
		
		.category-content{
			padding: variables.$wc-category-inset;
			border: variables.$wc-category-border;
			border-radius: variables.$wc-category-border-radius;
		}
		
	}
}

.woocommerce-loop-category__title{
	text-align: left;
	font-size: variables.$wc-category-title-fz;
	line-height: variables.$wc-category-title-lh;
	margin: variables.$wc-category-title-offset;

	// reset default styles for tag mark
	.count{
		font-style: normal;
		background: transparent;
		text-decoration: none;
		border: none;
	}
}