@use "sass:map";
@use "../../../../../../assets/sass/grid/breakpoints";
@use "../../../../../../assets/sass/grid/variables" as variables2;
@use "../mixins/mixins";
@use "../mixins/variables";

/**
 * Shop layout
 */
ul.products {
	@include mixins.make-row();
	list-style: none;

	li.product {
		@include mixins.make-col-ready();
	}
}

@each $breakpoint in map.keys(variables2.$grid-breakpoints) {
	@include breakpoints.media-breakpoint-up($breakpoint, variables2.$grid-breakpoints) {
		
		$infix: mixins.breakpoint-infix($breakpoint, variables2.$grid-breakpoints);
		
		@for $i from 1 through variables.$wc-max-columns {
			
			ul.products {
				&.columns-#{$i} {
					li.product {
						@include mixins.column-width($i);
					}
				}
				
				&.columns-#{$infix}-#{$i} {
					li.product {
						@include mixins.column-width($i);
					}
				}
			}
			
		}
	}
}
