@use "sass:math";
@use "../grid/breakpoints";
@use "../grid/variables";
@use "../mixins/mixins-master";
@use "../variables-site/colors";
@use "../mixins/border-radius";

.comment-navigation,
.posts-list-navigation {
	overflow: hidden;
	padding-top: 40px;
	border-top: 1px solid colors.$color__background-hr;

	.nav-links {
		font-weight: 400;
	}
}

.posts-list-navigation {
	.pagination {
		.page-numbers {
			outline: none;
			margin-right: 7px;

			&:last-child {
				margin-right: 0;
			}

			&.prev {
				margin-right: 20px;
			}

			&.next {
				margin-left: 10px;
			}
		}
		.page-numbers:not(.prev):not(.next):not(.dots) {
			@include border-radius.border-radius;
			display: inline-block;
			width: 33px;
			height: 33px;
			text-align: center;
			line-height: 33px;
			border: 1px solid colors.$color__background-hr;
			&:hover,
			&.current {
				background-color: colors.$color__background-hr;
			}
		}
	}
}

.page-links {
	> span,
	> a {
		@include border-radius.border-radius;
		display: inline-block;
		width: 33px;
		height: 33px;
		text-align: center;
		@include mixins-master.font-size(math.div(14, 16));
		line-height: 33px;
		border: 1px solid colors.$color__background-hr;
		margin: 5px 5px 5px 0;
		&:last-child {
			margin-right: 0;
		}
	}

	> span,
	> a:hover {
		background-color: colors.$color__background-hr;
	}
}

.comment-navigation,
.posts-list-navigation .posts-navigation {
	.nav {
		&-previous {
			float: left;
			width: 50%;
			i {
				margin-right: 2px;
			}
		}
		&-next {
			float: right;
			text-align: right;
			width: 50%;
			i {
				margin-left: 2px;
			}
		}
	}
}

.posts-list-navigation {
	.posts-list--creative.list-style-default+&,
	.posts-list--default.list-style-v9+&,
	.posts-list--grid.list-style-v9+&,
	.posts-list--vertical-justify.list-style-v6+& {
		border: none;
		margin-top: 0;
	}
	.posts-list--creative.list-style-default+&,
	.posts-list--default.list-style-v9+&,
	.posts-list--creative.list-style-v2+&,
	.posts-list--grid.list-style-v4+&,
	.posts-list--grid.list-style-v5+&,
	.posts-list--grid.list-style-v9+&,
	.posts-list--masonry.list-style-v4+&,
	.posts-list--masonry.list-style-v9+&,
	.posts-list--vertical-justify.list-style-v4+&,
	.posts-list--vertical-justify.list-style-v5+&,
	.posts-list--vertical-justify.list-style-v6+&,
	.posts-list--vertical-justify.list-style-v9+&,
	.posts-list--vertical-justify.list-style-v10+& {
		.nav-links {
			max-width: 1200px;
			margin-left: auto;
			margin-right: auto;
			padding-left: variables.$grid-gutter-width * 0.5;
			padding-right: variables.$grid-gutter-width * 0.5;
		}
	}
}

.post-navigation-container {
	overflow: hidden;
	margin: 45px 0 40px;
	padding-bottom: 45px;
	border-bottom: 1px solid colors.$color__background-hr;

	.nav {
		&-links {
			font-weight: 400;
			.post-title {
				margin: 0;
				@include breakpoints.media-breakpoint-down(xs) {
					@include mixins-master.font-size(math.div(16, 16));
				}
			}
			i {
				position: absolute;
				top: 32px;
				@include breakpoints.media-breakpoint-up(sm) {
					top: 35px;
				}
			}
		}
		&-text {
			margin-bottom: 10px;
			@include mixins-master.font-size(math.div(11, 16));
			font-weight: 600;
			text-transform: uppercase;
		}
		&-previous,
		&-next {
			position: relative;
			@include breakpoints.media-breakpoint-up(sm) {
				width: 50%;
			}
		}
		&-previous {
			padding: 0 15px 0 35px;
			@include breakpoints.media-breakpoint-up(sm) {
				float: left;
			}
			i {
				left: 0;
			}
		}
		&-next {
			text-align: right;
			padding: 0 35px 0 15px;
			@include breakpoints.media-breakpoint-up(sm) {
				float: right;
			}
			i {
				right: 0;
			}
		}
	}
	.nav-previous + .nav-next {
		@include breakpoints.media-breakpoint-down(xs) {
			margin-top: 30px;
		}
	}
}