@use "sass:math";
@use "../variables-site/colors";

@use "../mixins/mixins-master";

button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
	@include mixins-master.btn;
}

// Button styles
.btn {
	text-decoration: none;
	@include mixins-master.btn;

	&.invert-button {
		border: 1px solid colors.$color__white;
		background: none;
	}
}

// Button icon styles
.posts-list .btn-icon {
	&:before {
		@include mixins-master.font-awesome-icon;
		@include mixins-master.font-size(math.div(35, 16));
		content: '\f178';
	}
}

// Button text-icon styles
.btn-text-icon {
	@include mixins-master.font-size(math.div(14, 16));
	text-transform: uppercase;
	font-weight: 500;
	&:after {
		transform:translateY(-1px);
		@include mixins-master.font-awesome-icon;
		@include mixins-master.font-size(math.div(12, 16));
		content: '\f061';
		margin-left: 6px;
	}
}

// Reset button style
.mfp-close:hover {
	background: none;
}