@use "sass:math";
@use "../variables-site/colors";
@use "../variables-site/structure";
@use "../mixins/mixins-master";
@use "../mixins/border-radius";

// Modern selector: :is() reduces specificity and improves readability
:is(
	input[type='text'],
	input[type='email'],
	input[type='url'],
	input[type='password'],
	input[type='search'],
	input[type='number'],
	input[type='tel'],
	input[type='range'],
	input[type='date'],
	input[type='month'],
	input[type='week'],
	input[type='time'],
	input[type='datetime'],
	input[type='datetime-local'],
	select,
	textarea
) {
	width: 100%;
	box-sizing: border-box;
	padding: var(--kava-input-indents, structure.$input__indents);
	border: 1px solid var(--kava-color-border-input, colors.$color__border-input);
	background-color: var(--kava-color-background-input, colors.$color__background-input);

	@include border-radius.border-radius;
	&:focus {
		outline: none;
		box-shadow: var(--kava-box-shadow, structure.$box__shadow);
	}
}

// Modern selector: :is() for better readability
:is(
	button,
	input[type='submit'],
	input[type='reset']
) {
	&:focus {
		outline: none;
	}
}

:is(
	input[type='submit'],
	input[type='reset']
){
	@include mixins-master.font-size(math.div(11, 16));
	font-weight: 600;
}

select {
	border: 1px solid var(--kava-color-border-input, colors.$color__border-input);
}

textarea {
	min-height: 150px;
	@include mixins-master.resizable(vertical);
}

::-moz-placeholder { opacity: 1; }
:-moz-placeholder { opacity: 1; }