@use "sass:math";

@use "../mixins/mixins-master";

.search-form {
	display: flex;
	align-items: center;
	label {
		width: 100%;
	}
	&__field[type='search'] {
		box-sizing: border-box;
	}
	&__submit.btn {
		padding: 11px;
		margin-left: 10px;
		@include mixins-master.font-size(math.div(13, 16));
	}
}