@use "sass:math";
@use "../../grid/breakpoints";
@use "../../grid/mixins";
@use "../../mixins/mixins-master";

.site-footer {
	&__wrap {
		@include mixins-master.font-size(math.div(11, 16));
		line-height: 20px;
		.space-between-content {
			&:not(:empty) {
				padding-top: 30px;
				padding-bottom: 30px;
			}
			align-items: center;
			@include breakpoints.media-breakpoint-down(xs) {
				display: block;
				text-align: center;
			}
		}
	}
}

.footer-area {
	@include mixins.make-container();
	@include mixins.make-container-max-widths();
	display: flex;
	flex-wrap: wrap;
	>.widget {
		width: 25%;
	}
}