@use "sass:map";
@use "sass:math";
@use "breakpoints";
@use "variables";

// Grid system
@mixin make-container($gutter: variables.$grid-gutter-width) {
	margin-inline: auto; // Logical property (replaces margin-left/right)
	padding-inline: math.div($gutter, 2); // Logical property (replaces padding-left/right)
	// Fallback for older browsers
	margin-left: auto;
	margin-right: auto;
	padding-left:  ($gutter * 0.5);
	padding-right: ($gutter * 0.5);
}

// For each breakpoint, define the maximum width of the container in a media query
@mixin make-container-max-widths($max-widths: variables.$container-max-widths) {
	@each $breakpoint, $container-max-width in $max-widths {
		@include breakpoints.media-breakpoint-up($breakpoint) {
			max-width: $container-max-width;
		}
	}
}

@mixin make-row($gutter: variables.$grid-gutter-width) {
	display: flex;
	flex-wrap: wrap;
	// Use negative margins approach (gap doesn't work well with flexbox in all cases)
	margin-left:  math.div($gutter, -2);
	margin-right: math.div($gutter, -2);
}

@mixin make-col($gutter: variables.$grid-gutter-width) {
	position: relative;
	min-height: 1px;
	// Use padding for gutter spacing (works with negative margin on row)
	padding-left:  ($gutter * 0.5);
	padding-right: ($gutter * 0.5);
}

@mixin make-col-span($size, $columns: variables.$grid-columns) {
	flex: 0 0 math.percentage(math.div($size, $columns));
	max-width: math.percentage(math.div($size, $columns));
}

@mixin make-col-offset($size, $columns: variables.$grid-columns) {
	@if variables.$need-offset {
		margin-inline-start: math.percentage(math.div($size, $columns)); // Logical property
		// Fallback for older browsers
		margin-left: math.percentage(math.div($size, $columns));
	}
}

@mixin make-col-push($size, $columns: variables.$grid-columns) {
	@if variables.$need-push {
		left: if($size > 0, math.percentage(math.div($size, $columns)), auto);
	}
}

@mixin make-col-pull($size, $columns: variables.$grid-columns) {
	@if variables.$need-pull {
		right: if($size > 0, math.percentage(math.div($size, $columns)), auto);
	}
}

@mixin make-col-modifier($type, $size, $columns) {
	// Work around the lack of dynamic mixin @include support (https://github.com/sass/sass/issues/626)
	@if $type == push {
		@include make-col-push($size, $columns);
	} @else if $type == pull {
		@include make-col-pull($size, $columns);
	} @else if $type == offset {
		@include make-col-offset($size, $columns);
	}
}

@mixin make-grid-columns($columns: variables.$grid-columns, $gutter: variables.$grid-gutter-width, $breakpoints: variables.$grid-breakpoints) {
	// Common properties for all breakpoints
	%grid-column {
		position: relative;
		// Prevent columns from collapsing when empty
		min-height: 1px;
		// Inner gutter via padding (works with negative margin on row)
		padding-left: ($gutter * 0.5);
		padding-right: ($gutter * 0.5);
	}
	@each $breakpoint in map.keys($breakpoints) {
		@for $i from 1 through $columns {
			.col-#{$breakpoint}-#{$i} {
				@extend %grid-column;
			}
		}

		@include breakpoints.media-breakpoint-up($breakpoint) {

			@for $i from 1 through $columns {
				.col-#{$breakpoint}-#{$i} {
					@include make-col-span($i, $columns);
				}
			}
			@each $modifier in (pull, push, offset) {
				@for $i from 0 through $columns {
					.col-#{$breakpoint}-#{$modifier}-#{$i} {
						@include make-col-modifier($modifier, $i, $columns)
					}
				}
			}
		}
	}
}