@use "../mixins/mixins";
@use "../mixins/variables";

/**
 * Active filters widget
 */
.elementor-widget-wp-widget-woocommerce_layered_nav_filters,
.widget_layered_nav_filters{
	ul{
		list-style: none;
		margin: 0;
		
		li{

			&.chosen{
				
				a{
					position: relative;
					padding-left: 25px;
				}
				
				a:after{
					content: variables.$wc-list-widget-remove-item-icon;
					position: absolute;
					display: block;
					font-size: 10px;
					left: 7px;
					top: 4px;
					color: variables.$wc-list-widget-remove-item-icon-color;
					
					@extend %icon-font-default !optional;
				}
			}
			
			+ li{
				margin-top: variables.$wc-list-widget-space-between-items;
			}
			
		}
		
	}
}