@use "../mixins/mixins";
@use "../mixins/variables";

/**
 * Rating filter widget
 */
.elementor-widget-wp-widget-woocommerce_rating_filter,
.widget_rating_filter{
	ul{
		list-style: none;
		margin: 0;
		
		li{
			position: relative;
			padding-left: 25px;
			
			&:before{
				content: "";
				position: absolute;
				left: 0;
				top: 2px;
				width: 16px;
				height: 16px;
				display: block;
				border: 1px solid variables.$wc-border-color;
				border-radius: 4px;
			}
			
			&.chosen{
				&:after{
					content: variables.$wc-list-widget-current-item-icon;
					position: absolute;
					display: block;
					font-size: 10px;
					left: 4px;
					top: 6px;
					
					@extend %icon-font-default !optional;
				}
			}
			
			+ li{
				margin-top: variables.$wc-list-widget-space-between-items;
			}
			
			.star-rating{
				display: inline-block;
				margin: 0;
				vertical-align: middle;
			}
		}
		
	}
}