/**
 * WooCommerce Widgets
 */

@use "price-filter";
@use "rating-filter";
@use "attributes-filter";
@use "active-filters";
@use "top-rated-products";
@use "recent-reviews";
@use "product-categories";
@use "products";
@use "recently-viewed-products";
@use "product-search";
@use "tag-cloud";
@use "cart";
@use "../mixins/variables";

.woocommerce.widget {
	padding: 25px 30px 30px;
	border: variables.$wc-border;
	border-radius: variables.$wc-border-radius;
	
	.widget-title {
		font-size: variables.$wc-widgets-title-fz;
		line-height: variables.$wc-widgets-title-lh;
		margin: variables.$wc-widgets-title-offset;
	}
	
	+ .widget {
		margin-top: 30px;
	}
}

%product-list-widget {
	list-style: none;
	margin: 0;
	
	li {
		overflow: hidden;
		
		a {
			display: block;
		}
		
		img {
			float: left;
			max-width: variables.$wc-product-list-widget-img-width;
			margin: 0 20px 10px 0;
		}
		
		.amount {
			font-size: variables.$wc-product-list-widget-price-fz;
		}
		
		ins {
			font-style: normal;
			border: none;
		}
		
		del{
			color: variables.$wc-sale-price-color;
		}
		
		+ li {
			margin-top: variables.$wc-product-list-widget-items-offset;
		}
	}
}

//calendar in woo sidebar
.woocommerce .widget.widget_calendar {
	td, th {
		font-size: 14px;
		line-height: 44px;
		padding: 0;
	}

	tfoot td {
		line-height: 24px;
	}

	th {
		padding-bottom: 40px;
	}
}

//shop sidebar style
.woocommerce aside.widget-area {
	.widget + .widget:not(.woocommerce) {
		border-top: none;
		padding-top: 0;
	}
}