@use "../mixins/mixins-master";

.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;

	img[class*="wp-image-"] {
		@include mixins-master.center-block;
	}

	.wp-caption-text {
		margin: 0.8075em 0;
		@include mixins-master.font-size(.75);
	}
}

.wp-caption-text {
	text-align: center;
}